/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/

.icon-1{
    background-image: url("../../images/icon/user.png");
    background-position: 0px 0px;
    width: 200px;
    height: 200px;
}
.icon-2{
    background-image: url("../../images/icon/user.png");
    background-position: -210px 0px;
    width: 200px;
    height: 200px;
}
.icon-3{
    background-image: url("../../images/icon/user.png");
    background-position: 0px -210px;
    width: 200px;
    height: 200px;
}
