/*重置样式*/
@import "style/normalize.scss";



    .app-active{
        position: relative;
        background:#666;
        
        &:before {
            content: "";
            border-left: 4px solid #80bd01;
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
        }
    } 

    .meun{
    }

    .slide{
        position: fixed;
        top:0;
        left:-200px;
        z-index:100;
        width: 200px;
        height: 100%;
        transition: all .25s ease;
        will-change: transform;
        background:#444;
        color:#fff;

        .mheader-logo{
            width:100%;
            height:auto;
            margin-top:30px;
            background: #444;
            text-align: center;
            img{
                width: 80px;
                height: 80px;
                margin: 5px auto;
                border-radius: 50%;
                border: 1px solid #fff;
                background: #fff;
            }
        }

        .mnav-box{
            ul{
                overflow:hidden;
                margin-top:20px;

                li{  
                    a{
                        display:block;
                        font-size: 15px;
                        padding:12px 10px;
                        padding-left: 40px;
                    }
                    i{
                        font-size:18px;
                        margin-right:5px;
                    }
                }
            }
        }
    }

    .mask {
        position: fixed;
        top: 0;
        left:0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
     }

    .showMeun {
		transform: translateX(200px);
	}